@import "src/mixins.scss";
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  .image {
    width: 50px;
  }
  .app-title {
    @include respond-to(handhelds) { display: none; };
  }
  .search {
    padding-left: 16px;
  }
}

